/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f9fa;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.card-body {
  background-color: #ededed;
}
