<div ng-controller="app.views.home as vm">
    <h3>Test: SendPrivateEmailJob</h3>
    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" ng-model="vm.sendEmailArgs.userName"/>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" ng-model="vm.sendEmailArgs.subject"/>
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea class="form-control" ng-model="vm.sendEmailArgs.body"></textarea>
        </div>
        <button class="btn btn-primary" ng-click="vm.sendEmail()">Send!</button>
    </form>
</div>