<div ng-controller="app.views.home as vm">
    <h1>@L("WellcomeMessage")</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>List of People and Courses</h2>
            <ul>
                <li ng-repeat="item in vm.items  track by $index">
                    {{item}}
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Create New Person</h2>
            <input class="form-control" type="text" ng-model="vm.name"/>
            <button class="btn btn-default" ng-click="vm.createPerson()">Submit</button>
            <h2>Create New Courese</h2>
            <input class="form-control" type="text" ng-model="vm.courseName"/>
            <button class="btn btn-default" ng-click="vm.createCourse()">Save</button>
        </div>
    </div>
</div>