@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Options: </h2>
        <ul>
            <a asp-area="" asp-controller="Home" asp-action="InsertAndGetId">InsertAndGetId</a><br>
            <a asp-area="" asp-controller="Home" asp-action="Delete">Delete</a><br>
            <a asp-area="" asp-controller="Home" asp-action="GetList">GetList</a><br>
            <a asp-area="" asp-controller="Home" asp-action="GetConstant">GetConstant</a><br>
        </ul>
    </div>
</div>
